*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.blackout, .modal {
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
}

.blackout {
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 99;
}

.gutter {
    padding-top: 15px;
}

.modal {
    align-items: center;
    display: flex;
    justify-content: center;
    pointer-events: none;
    -webkit-transition: top 500ms;
    -moz-transition: top 500ms;
    -ms-transition: top 500ms;
    -o-transition: top 500ms;
    transition: top 500ms;
    z-index: 100;
}

.modal-material {
    background-color: white;
    padding: 32px;
    pointer-events: all;
}

body {
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
}

button {
    border: none;
    border-radius: 25px;
    margin: 0 8px;
    padding: 10px 15px;
    text-transform: uppercase;
}

button:hover {
    cursor: pointer;
}

button.fab {
    background-color: black;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    bottom: 32px;
    color: white;
    height: 48px;
    position: fixed;
    right: 32px;
    -webkit-transition: transform 500ms;
    -moz-transition: transform 500ms;
    -ms-transition: transform 500ms;
    -o-transition: transform 500ms;
    transition: transform 500ms;
    width: 48px;
}

button.fab:hover {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

button:not(.fab) i {
    margin-right: 8px;
}

header {
    align-items: center;
    background-color: white;
    border-bottom: thin solid gray;
    color: gray;
    display: flex;
    padding: 0 16px;
}

header h1 {
    flex-grow: 1;
}

header nav {
    display: none;
}

header input[type=text] {
    padding: 6px;
    border: 1px solid black;
    border-radius: 2px;
    font-size: 15px;
    outline: none;
    resize: none;
<<<<<<< HEAD
    width: 10%;
=======
    width: 25%;
>>>>>>> de0b530bb9d1a5bfc8ca2ad04adf9cf114e919c8
}


div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background-color: #e0c68b;
    border-bottom: thin solid gray;
    color: #333333;
    padding: 5px 0px 5px 5px;
    z-index: 1;
}


@media screen and (min-width: 960px) {

    header nav {
        display: block;
    }

    header ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    header li {
        display: inline-block;
        margin: 0 5px;
    }

    header li a {
        color: black;
        padding: 5px 15px;
        text-decoration: none;
        text-transform: uppercase;
    }

    header li a:hover, header li a.active {
        background-color: black;
        color: white;
    }

    #connection-status.disconnected {
        color: red;
    }

    #connection-status {
        color: green;
        margin-right: 16px;
    }
}