/* cyrillic-ext */
@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v18/ieVl2ZhZI2eCN5jzbjEETS9weq8-19-7DRs5.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v18/ieVl2ZhZI2eCN5jzbjEETS9weq8-19a7DRs5.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v18/ieVl2ZhZI2eCN5jzbjEETS9weq8-1967DRs5.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v18/ieVl2ZhZI2eCN5jzbjEETS9weq8-19G7DRs5.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v18/ieVl2ZhZI2eCN5jzbjEETS9weq8-1927DRs5.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v18/ieVl2ZhZI2eCN5jzbjEETS9weq8-19y7DRs5.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v18/ieVl2ZhZI2eCN5jzbjEETS9weq8-19K7DQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.blackout, .modal {
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
}

.blackout {
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 99;
}

.gutter {
    padding-top: 15px;
}

.modal {
    align-items: center;
    display: flex;
    justify-content: center;
    pointer-events: none;
    -webkit-transition: top 500ms;
    -moz-transition: top 500ms;
    -ms-transition: top 500ms;
    -o-transition: top 500ms;
    transition: top 500ms;
    z-index: 100;
}

.modal-material {
    background-color: white;
    padding: 32px;
    pointer-events: all;
}

body {
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
}

button {
    border: none;
    border-radius: 25px;
    margin: 0 8px;
    padding: 10px 15px;
    text-transform: uppercase;
}

button:hover {
    cursor: pointer;
}

button.fab {
    background-color: black;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    bottom: 32px;
    color: white;
    height: 48px;
    position: fixed;
    right: 32px;
    -webkit-transition: transform 500ms;
    -moz-transition: transform 500ms;
    -ms-transition: transform 500ms;
    -o-transition: transform 500ms;
    transition: transform 500ms;
    width: 48px;
}

button.fab:hover {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

button:not(.fab) i {
    margin-right: 8px;
}

header {
    align-items: center;
    background-color: white;
    border-bottom: thin solid gray;
    color: gray;
    display: flex;
    padding: 0 16px;
}

header h1 {
    flex-grow: 1;
}

header nav {
    display: none;
}

@media screen and (min-width: 960px) {
    header nav {
        display: block;
    }

    header ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    header li {
        display: inline-block;
        margin: 0 5px;
    }

    header li a {
        color: black;
        padding: 10px 15px;
        text-decoration: none;
        text-transform: uppercase;
    }

    header li a:hover, header li a.active {
        background-color: black;
        color: white;
    }

    #connection-status.disconnected {
        color: red;
    }

    #connection-status {
        color: green;
        margin-right: 16px;
    }
}