.modal-material form div label {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.modal-material form div label input {
    float: right;
    padding: 5px;
    margin: 0 15px;
    width: 200px;
}

.graph {
    display: inline-block;
    margin: 16px;
    width: 33%;
}

.modal {
    -webkit-animation: modal-enter 500ms forwards;
    -o-animation: modal-enter 500ms forwards;
    animation: modal-enter 500ms forwards;
}

@keyframes modal-enter {
    from {
        top: -100vw;
    }
    to {
        top: 0;
    }
}
